<html>

<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="main">
    <div>

      <table>
        <thead>
            <tr>
                <th scope="col">Origem</th>
                <th scope="col">Categoria</th>
                <th scope="col">Mês de Lançamento</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tr *ngFor="let i of custos">
            <td>{{ i.origem }}</td>
            <td>{{ categorias[i.categoria] }}</td>
            <td>{{ meses[i.mes_lancamento.toString()] }}</td>
            <td>{{ i.valor | currency}}</td>
        </tr>
      </table>

    </div>

  </div>
</body>

</html>
